@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700;900&display=swap');

p,html,body,h1{
   margin: 0;
   padding: 0;
}

*{
   font-family: 'Roboto', sans-serif;
   box-sizing: border-box;
}

.container{
   background-color: #E2E8F0;
   height: 100vh;
   display: grid;
   grid-template-columns: 0.7fr 3fr;
   grid-template-rows: 0.7fr 3fr;
   grid-template-areas: 
   "sideBar header "
   "sideBar content";
}

.header{
   grid-area: header; 
   background-color: white;
   box-shadow: 0 8px 8px -4px rgb(0 0 0 / 0.2);
   display: grid;
   grid-template-rows: 1fr 1fr;
   padding: 30px 60px;
   gap: 20px;
}

.upperHeader,.lowerHeader{  
   display: flex;
   justify-content: space-between;
}

.upperHeader div:first-child{
   flex: 1;
}

.upperHeader>div , .lowerHeader>div{
   display: flex;
   align-items: center;
   gap: 40px;
}

.upperHeader input{
   border-radius: 15px;
   height: 40px;
   background-color: #E2E8F0;
   border: 1px solid #ffffff;
   width:75%;
   min-width: 250px;
}

.upperHeader>div>div{
   border-radius: 25px;
   background: url(profilePicture.jpg) center center /cover no-repeat;
   width: 50px;
   height: 50px;
}

.upperHeader>div>p{
   font-size: 1.5rem;
   font-weight: 700;
}

.lowerHeader button{
   padding: 10px 30px;
   border-radius: 25px;
   font-size: 1.2rem;
   background-color: #1992D4;
   color: white;
   border: 1px solid #ffffff;


}

#profilePicture{
   border-radius: 32.5px;
   background: url(profilePicture.jpg) center center /cover no-repeat;
   width: 75px;
   height: 75px;
}

.sideBar{
   grid-area: sideBar;
   background-color: #1992D4;
   color: white;
   fill : white;
   padding: 30px;
   font-size: 1.4rem;
   font-weight: 700;
   display: flex;
   flex-direction: column;
   gap: 40px;
}

.sideBarTitle{
   font-size: 2.2rem;
}

.sideBarTitle >div{
   gap: 10px;
}

.options{
   display: flex;
   flex-direction: column;
   gap: 80px;
}

.groupOptions{
   display: flex;
   flex-direction: column;
   gap: 25px;
}

.option{
   display: flex;
   align-items: center;
   gap: 20px;
}

.content{
   grid-area: content;
  
}

