@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700;900&display=swap');

p,html,body,h1{
   margin: 0;
   padding: 0;
}

html, body{ 
   overflow: auto;
}

body{
   background-color: var(--containerColor);
}

*{
   font-family: 'Roboto', sans-serif;
   box-sizing: border-box;

   --avatar1:url(https://mir-s3-cdn-cf.behance.net/project_modules/disp/06fbe298931623.5ee79b6a90221.jpg);
   --avatar2:url(https://mir-s3-cdn-cf.behance.net/project_modules/disp/8394f798931623.5ee79b6a909ea.jpg);
   --avatar3:url(https://mir-s3-cdn-cf.behance.net/project_modules/disp/2e80bb98931623.5ee79b6a8f342.jpg);
   --avatar4:url(https://mir-s3-cdn-cf.behance.net/project_modules/disp/baa20698931623.5ee79b6a8ec2b.jpg);

   --sideBarColor : #4700D8;
   --containerColor : #E2E8F0;
   --textColor : #8A8A8A;
   --cardBoarder:#F900BF;
}

.smallProfilePicture{
   border-radius: 25px;
   width: 50px;
   height: 50px;
}

.headerContentText{
   padding-bottom: 10px;
   font-size: 1.5rem;
   font-weight: 700;
}

.container{
   height: 100vh;
   display: grid;
   grid-template-columns: 0.7fr 3fr;
   grid-template-rows: 0.7fr 3fr;
   grid-template-areas: 
   "sideBar header "
   "sideBar content";
}

/*--------------------------------------Header-------------------------- */

.header{
   grid-area: header; 
   background-color: white;
   box-shadow: 0 8px 8px -4px rgb(0 0 0 / 0.2);
   display: grid;
   grid-template-rows: 1fr 1fr;
   padding: 15px 60px;
   gap: 15px;
}

.upperHeader,.lowerHeader{  
   display: flex;
   justify-content: space-between;
}

.upperHeader div:first-child{
   flex: 1;
}

.upperHeader>div , .lowerHeader>div{
   display: flex;
   align-items: center;
   gap: 40px;
}

.upperHeader input{
   border-radius: 15px;
   height: 40px;
   background-color: var(--containerColor);
   border: 1px solid #ffffff;
   width:75%;
   min-width: 250px;
}

.upperHeader>div>div{
   background: var(--avatar1)  center center /cover no-repeat;
}

.upperHeader>div>p{
   font-size: 1.5rem;
   font-weight: 700;
}

.lowerHeader button{
   padding: 10px 30px;
   border-radius: 25px;
   font-size: 1.2rem;
   background-color: var(--sideBarColor);
   color: white;
   border: 1px solid #ffffff;
}

#profilePicture{
   border-radius: 32.5px;
   background: var(--avatar1) center center /cover no-repeat;
   width: 75px;
   height: 75px;
}

/*--------------------------------------SideBar-------------------------- */

.sideBar{
   grid-area: sideBar;
   background-color: var(--sideBarColor);
   color: white;
   fill : white;
   padding: 30px;
   font-size: 1.4rem;
   font-weight: 700;
   display: flex;
   flex-direction: column;
   gap: 40px;
}

.sideBarTitle{
   font-size: 2.2rem;
}

.sideBarTitle >div{
   gap: 10px;
}

.options{
   display: flex;
   flex-direction: column;
   gap: 80px;
}

.groupOptions{
   display: flex;
   flex-direction: column;
   gap: 25px;
}

.option{
   display: flex;
   align-items: center;
   gap: 20px;
}

.content{
   display: grid;
   grid-template-columns: 2.5fr 1fr
}

/*--------------------------------------sideContent-------------------------- */

.sideContent{
   padding: 40px 40px 40px 0px;
   display: flex;
   flex-direction: column;
   gap: 50px;
}

.UpperContent>div , .lowerContent>div{
   background-color: white;
   padding: 30px ;
   border-radius: 20px;
   display: flex;
   flex-direction: column;
   gap: 10px;
}

.UpperContent>div> p:first-child{
   font-size: 1.1rem;
   font-weight: 700;
}

.UpperContent p:last-child{
   font-size: 1rem;
   font-weight: 500;
   color: var(--textColor);
}

.UpperContent>div>hr{
   color: var(--textColor);
   width: 300px;
   size :10px;
}

.lowerContent .userInfo{
   display: flex;
   align-items: center;
   gap: 10px;
}

#pic1{  
   background:  var(--avatar2) center center /cover no-repeat;
}

#pic2{
   background: var(--avatar1) center center /cover no-repeat;  
}

#pic3{
   background: var(--avatar3) center center /cover no-repeat;
}

#pic4{
   background: var(--avatar4) center center /cover no-repeat;
}

.userInfo p:nth-child(2){
   color: var(--textColor);
}

/*--------------------------------------MainContent-------------------------- */


.mainContent{
   padding: 40px;
}

.mainContent>div{
   display: grid;
   grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
   gap: 50px;
}

.card{
   background-color: white;
   padding: 30px 30px 10px 30px ;
   border-radius: 10px;
   display: grid;
   grid-template-rows: 1fr 0.5fr;
   height: 170px;
   border-left: 10px solid var(--cardBoarder);
}   

.card p:nth-child(1){
   font-size: 1.2rem;
   font-weight: 700;
   padding-bottom: 5px;
}

.card p:nth-child(2){
   font-size: 1rem;
   font-weight: 500;
   color: var(--textColor);
}

.card .icons{
   display: flex;
   gap: 10px;
   justify-self: end;
   align-items: center;
}



